<table>

    <tr>
        <td>
            <p>Lilliam Romero Reyes</p>
            <p>Ser designer UX/UI</p>
            <p>Trabajar en una empresa, en el extranjero</p>
        </td>
    <td>
        <img src="..\assets\images\LilliamRomeroReyes.jpg" width="100" height="100">
    </td>
    <td>
        <ul>
            <li>lilyelgort26@gmail.com</li>
            <li>2721243874</li>
            <li>Orizaba, Veracruz</li>
            <li>@lilliamwitham</li>
        </ul>
    </td>
    </tr>
    </table>