<div style="text-align:left;">
    <table style="margin: 0 auto;">
        <tr>
            <td style="background-color: rgb(26, 161, 55);">
                <font face = "Verdana" color="#FFFFFF">
                    <p style="text-align:center"> Lilliam Romero Reyes</p>
                </font>
                
                <font face = "Courier" color="#FFFFFF">
                    - Ser designer UX/UI<br>
                    - Llegar a ser senior<br>
                    - Trabajar en una empresa en el extranjero<br>
                    - Participar en eventos de Tecnologías<br>
                    Sigo aprendiendo, estoy encantada de ver lo mucho que se puede lograr con la programación.
                </font>
            </td>
        <td  style="background-color: rgb(209, 206, 211);">
            <img src="..\assets\images\LilliamRomeroReyes.jpg" width="150" height="150">
        </td>
        <td style="background-color: rgb(26, 161, 55);">
            <ul>
                <font face = "Courier" color="#FFFFFF" >
                <li>lilyelgort26@gmail.com</li>
                <li>2721243874</li>
                <li>Orizaba, Veracruz</li>
                <li>@lilliamwitham</li>
                </font>
            </ul>
        </td>
        </tr>
        </table>
    </div>
    