<div style="text-align:left;">
    <table style="margin: 0 auto;">
        <tr>
            <td>
                <font face = "Verdana" color="#00000">
                    <p style="text-align:center"> Lilliam Romero Reyes</p>
                
                
                <font face = "Courier" color="#000000">
                    - Ser designer UX/UI<br>
                    - Trabajar en una empresa en el extranjero<br>
                    - Participar en eventos de Tecnologías<br>
                    - Sigo aprendiendo de esta área:).
                </font>
            </font>
            </td>
        <td  style="background-color: rgb(209, 206, 211);">
            <img src="..\assets\images\LilliamRomeroReyes.jpg" width="150" height="150">
        </td>
        <td>
            <ul>
                <font face = "Courier" color="#00000" >
                <li>lilyelgort26@gmail.com</li>
                <li>2721243874</li>
                <li>Orizaba, Veracruz</li>
                <li>@lilliamwitham</li>
                </font>
            </ul>
        </td>
        </tr>
        </table>
    </div>
