<font face = "American Typewriter" size = "5" color ="#6495ED">
    Intereses</font><br/>

    <table>
        <tr><td>UX y UI</td>
            <td><b> | </b></td>
            <td>Diseño gráfico</td>
            <td><b> | </b></td>
            <td> Lectura</td>
            <td><b> | </b></td>
            <td> Editorial Makeup </td>
            <td><b> | </b></td>
            <td> Videojuegos </td>
            <td><b> | </b></td>
            <td> Desarrollo en unity</td>
            <td><b> | </b></td>
            <td> Taylor Swift</td>
        </tr>
        <tr><td>IA</td>
            <td><b> | </b></td>
            <td> Música</td>
            <td><b> | </b></td>
            <td> Front-end</td>
            <td><b> | </b></td>
            <td> Ingeniería de Software</td>
            <td><b> | </b></td>
            <td> Ciencia de datos</td>
            <td><b> | </b></td>
            <td>Animación 3D</td>
        </tr>
    </table>
