<font face = "Verdana" size = "4" color ="#406DEC">
    Habilidades y competencias</font><br/>

<p></p>

<div style="text-align:right;">

    <p> Proactividad <progress max ="100" value="95"></progress></p>

    <p> Creatividad <progress max ="100" value="90"></progress></p>

    <p> Autodidacta <progress max ="100" value="100"></progress></p>

    <p> Toma de decisiones <progress max ="100" value="80"></progress></p>

    <p> Atención al cliente <progress max ="100" value="100"></progress></p>

    <p> Puntualidad <progress max ="100" value="95"></progress></p>

    <p> Sentido de responsabilidad <progress max ="100" value="100"></progress></p>

    <p> Comunicación escrita y verbal <progress max ="100" value="75"></progress></p>

    <p> Pensamiento crítico y analítico <progress max ="100" value="80"></progress></p>
    <p></p>

</div>

