<table border="3" >
  <tr>
    <td colspan="2" style="background-color: rgb(179, 179, 179);">
      <app-header></app-header>
    </td>
  </tr>
  <tr>
    <td style="background-color: rgb(176, 226, 147);">
      <app-work-experience></app-work-experience>
    </td>
    <td style="background-color: rgb(211, 160, 235);">
      <app-skills></app-skills>
    </td>
  </tr>
<tr>
  <td style="background-color: rgb(176, 226, 147);">
    <app-education></app-education>
  </td>
  <td style="background-color: rgb(211, 160, 235);">
    <app-achievements></app-achievements>
  </td>
</tr>
<tr>
  <td></td>
  <td style="background-color: rgb(176, 226, 147);">
    <app-languages></app-languages>
  </td>
</tr>
<tr>
  <td></td>
  <td style="background-color: rgb(211, 160, 235);">
    <app-interests></app-interests>
  </td>
</tr>
</table>