<table border="3" style="margin: 0 auto;">
  <tr>
    <td colspan="2" style="background-color: rgb(26, 161, 55);">
      <app-header></app-header>
    </td>
  </tr>
  <tr>
    <td>
      <app-work-experience></app-work-experience>
    </td>
    <td>
      <app-skills></app-skills>
    </td>
  </tr>
<tr>
  <td>
    <app-education></app-education>
  </td>
  <td>
    <app-achievements></app-achievements>
  </td>
</tr>
<tr>
  <td colspan="2">
    <app-languages></app-languages>
  </td>
</tr>
<tr>
  <td colspan="2">
    <app-interests></app-interests>
  </td>
</tr>
</table>