<font face = "American Typewriter" size = "5" color ="#6495ED">
    Experiencia laboral</font><br/>
<ul *ngFor ="let work of workExperience">
    <li>
        <tr>
            <td>{{work.fecha}} </td> 
            <td>{{work.ubicacion}}</td> 
        </tr>
        <tr>
            <td><b>{{work.puesto}}</b> </td> 
        </tr>
        <tr>
            <td>{{work.empresa}} </td> 
        </tr>

<font face = "American Typewriter" size = "4" color ="#6495ED">
            Conocimiento obtenido</font><br/>

<ul *ngFor="let logro of work.logros">
    <li>
        <tr>
            {{logro.descripcion}}
        </tr>
    </li>
</ul>
</li>
</ul>
