<font face="American Typewriter" size="5" color="#6495ED">
    Logros y certificados</font><br />

<ul *ngFor="let achievements of achievements">
    <tr>
        <td><b>{{achievements.nombre}}</b></td>
        <td>{{achievements.fecha}} </td>
    </tr>
    <tr>
        <td>{{achievements.descripcion}} </td>
    </tr>


</ul>

<ul>
    <li>
        <a href="https://firebasestorage.googleapis.com/v0/b/streamlit-7f64f.appspot.com/o/images%2Fpandas.png?alt=media&token=be08e567-3ce7-486e-a5d7-00b8f4f316c9">
            <h3>Curso Pandas</h3>
        </a>
        <img id="pandas" src="..\assets\images\pandas.png" alt="" width="250" height="150">
    </li>
</ul>

<ul>
    <li>
        <a href="https://firebasestorage.googleapis.com/v0/b/streamlit-7f64f.appspot.com/o/images%2Fpython.png?alt=media&token=cb92b95d-4898-40fb-ac76-6bd84af5c74c">
            <h3>Curso Python</h3>
        </a>
        <img id="python" src="..\assets\images\python.png" alt="" width="250" height="150">
    </li>
</ul>